data/SAPAUFKPER.json
{
	"name": "SAPAUFKPER",
	"properties": {
		"activities": [
			{
				"name": "Copy data OHAUFKPER to ADLS",
				"description": "Extract table OHAUFKPER to Data Lake for staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getDateTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rfcTableOptions": {
							"value": "AEDAT GE '@{variables('getDateFrom')}' AND AEDAT LE '@{variables('getDateTo')}'",
							"type": "Expression"
						},
						"customRfcReadTableFunctionModule": "",
						"rfcTableFields": "",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AUFNR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AUFNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AUART",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AUART",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AUTYP",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "AUTYP",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "REFNR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "REFNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ERNAM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ERNAM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ERDAT",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "ERDAT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AENAM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AENAM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AEDAT",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "AEDAT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KTEXT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KTEXT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LTEXT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "LTEXT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BUKRS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "BUKRS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "WERKS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "WERKS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GSBER",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "GSBER",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KOKRS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KOKRS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CCKEY",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "CCKEY",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KOSTV",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KOSTV",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "STORT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "STORT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SOWRK",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "SOWRK",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ASTKZ",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ASTKZ",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "WAERS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "WAERS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ASTNR",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "ASTNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "STDAT",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "STDAT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ESTNR",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "ESTNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PHAS0",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PHAS0",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PHAS1",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PHAS1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PHAS2",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PHAS2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PHAS3",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PHAS3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PDAT1",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "PDAT1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PDAT2",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "PDAT2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PDAT3",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "PDAT3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IDAT1",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "IDAT1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IDAT2",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "IDAT2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IDAT3",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "IDAT3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OBJID",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "OBJID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "VOGRP",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "VOGRP",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LOEKZ",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "LOEKZ",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PLGKZ",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PLGKZ",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KVEWE",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KVEWE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KAPPL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KAPPL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KALSM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KALSM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ZSCHL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ZSCHL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ABKRS",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "ABKRS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KSTAR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KSTAR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KOSTL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KOSTL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SAKNR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "SAKNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SETNM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "SETNM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CYCLE",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "CYCLE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SDATE",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "SDATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SEQNR",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "SEQNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER0",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER0",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER1",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER2",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER3",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER3",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER4",
									"type": "Decimal",
									"physicalType": "P"
								},
								"sink": {
									"name": "USER4",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "USER5",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "USER5",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER6",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER6",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER7",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "USER7",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER8",
									"type": "String",
									"physicalType": "D"
								},
								"sink": {
									"name": "USER8",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "USER9",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "USER9",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OBJNR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "OBJNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PRCTR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PRCTR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PSPEL",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "PSPEL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AWSLS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AWSLS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ABGSL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ABGSL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TXJCD",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "TXJCD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FUNC_AREA",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "FUNC_AREA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SCOPE",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "SCOPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PLINT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PLINT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KDAUF",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KDAUF",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KDPOS",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "KDPOS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AUFEX",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AUFEX",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IVPRO",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "IVPRO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LOGSYSTEM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "LOGSYSTEM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FLG_MLTPS",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "FLG_MLTPS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ABUKR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ABUKR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AKSTL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AKSTL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIZECL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "SIZECL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IZWEK",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "IZWEK",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UMWKZ",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "UMWKZ",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "KSTEMPF",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "KSTEMPF",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ZSCHM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ZSCHM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PKOSA",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PKOSA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ANFAUFNR",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ANFAUFNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PROCNR",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "PROCNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PROTY",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "PROTY",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "RSORD",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "RSORD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BEMOT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "BEMOT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ADRNRA",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ADRNRA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ERFZEIT",
									"type": "String",
									"physicalType": "T"
								},
								"sink": {
									"name": "ERFZEIT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AEZEIT",
									"type": "String",
									"physicalType": "T"
								},
								"sink": {
									"name": "AEZEIT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CSTG_VRNT",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "CSTG_VRNT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "COSTESTNR",
									"type": "String",
									"physicalType": "N"
								},
								"sink": {
									"name": "COSTESTNR",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "VERAA_USER",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "VERAA_USER",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "VNAME",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "VNAME",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "RECID",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "RECID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ETYPE",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "ETYPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OTYPE",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "OTYPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JV_JIBCL",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "JV_JIBCL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JV_JIBSA",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "JV_JIBSA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "JV_OCO",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "JV_OCO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "INDCU",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "INDCU",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CMNUM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "CMNUM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AUEST",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "AUEST",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DESNUM",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "DESNUM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "VAPLZ",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "VAPLZ",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "WAWRK",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "WAWRK",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FERC_IND",
									"type": "String",
									"physicalType": "C"
								},
								"sink": {
									"name": "FERC_IND",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsSapTblGeneral",
						"type": "DatasetReference",
						"parameters": {
							"sourceTableName": "/BIC/OHAUFKPER"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsParqSapGeneral",
						"type": "DatasetReference",
						"parameters": {
							"directoryName": "PTRO_STAGING/ADF/SAP/stg_SAPAUFKPER",
							"fileName": "OHAUFKPER.parquet",
							"containerName": {
								"value": "@pipeline().globalParameters.DataSourceLocation",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "External Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data OHAUFKPER to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF EXISTS(SELECT * FROM sys.external_tables WHERE object_id = OBJECT_ID('dbo.SAPAUFK_TMP')) \nBEGIN\n   DROP EXTERNAL TABLE dbo.SAPAUFK_TMP;\nEND;\n \nCREATE EXTERNAL TABLE [dbo].[SAPAUFK_TMP](\n\tAUFNR_ORDER [nvarchar](12),\n\tAUART_ORDERTYPE [nvarchar](4),\n\tAUTYP_ORDERCATEGORY [nvarchar](2),\n\tREFNR_ORDER [nvarchar](12),\n\tERNAM_ENTEREDBY [nvarchar](12),\n\tERDAT_CREATEDON [nvarchar](8),\n\tAENAM_CHANGEDBY [nvarchar](12),\n\tAEDAT_CHANGEDON [nvarchar](8),\n\tKTEXT_DESCRIPTION [nvarchar](40),\n\tLTEXT_LONGTXTEXISTS [nvarchar](1),\n\tBUKRS_COMPANYCODE [nvarchar](4),\n\tWERKS_PLANT [nvarchar](4),\n\tGSBER_BUSINESSAREA [nvarchar](4),\n\tKOKRS_COAREA [nvarchar](4),\n\tCCKEY_COSTCOLLECTOR [nvarchar](23),\n\tKOSTV_RESPCOSTCNTR [nvarchar](10),\n\tSTORT_LOCATION [nvarchar](10),\n\tSOWRK_LOCATIONPLANT [nvarchar](4),\n\tASTKZ_STATISTICAL [nvarchar](1),\n\tWAERS_CURRENCY [nvarchar](5),\n\tASTNR_STATUS [nvarchar](2),\n\tSTDAT_STATUSCHANGE [nvarchar](8),\n\tESTNR_REACHEDSTATUS [nvarchar](2),\n\tPHAS0_CREATED [nvarchar](1),\n\tPHAS1_RELEASED [nvarchar](1),\n\tPHAS2_COMPLETED [nvarchar](1),\n\tPHAS3_CLOSED [nvarchar](1),\n\tPDAT1_PLANNEDRELEASE [nvarchar](8),\n\tPDAT2_PLANNEDCOMPLTN [nvarchar](8),\n\tPDAT3_PLANNEDCLODAT [nvarchar](8),\n\tIDAT1_RELEASE [nvarchar](8),\n\tIDAT2_TECHCOMPLETION [nvarchar](8),\n\tIDAT3_CLOSE [nvarchar](8),\n\tOBJID_OBJECTID [nvarchar](1),\n\tVOGRP_DISTRANGROUP [nvarchar](4),\n\tLOEKZ_DELETIONFLAG [nvarchar](1),\n\tPLGKZ_PLANLINEITEMS [nvarchar](1),\n\tKVEWE_USAGE [nvarchar](1),\n\tKAPPL_APPLICATION [nvarchar](2),\n\tKALSM_COSTINGSHEET [nvarchar](6),\n\tZSCHL_OVERHEADKEY [nvarchar](6),\n\tABKRS_PROCESSGROUP [nvarchar](2),\n\tKSTAR_SETTLEMENTCE [nvarchar](10),\n\tKOSTL_COSTCENTER [nvarchar](10),\n\tSAKNR_GLACCOUNT [nvarchar](10),\n\tSETNM_ALLOCATIONSET [nvarchar](12),\n\tCYCLE_CCTR_TRUEPOST [nvarchar](10),\n\tSDATE_VALIDFROM [nvarchar](8),\n\tSEQNR_SEQUENCENUMBER [nvarchar](4),\n\tUSER0_APPLICANT [nvarchar](20),\n\tUSER1_TELEPHONE [nvarchar](20),\n\tUSER2_PERSONRESP [nvarchar](20),\n\tUSER3_TELEPHONE [nvarchar](20),\n\tUSER4_ESTIMATEDCOSTS [numeric](11,2),\n\tUSER5_APPLICDATE [nvarchar](8),\n\tUSER6_DEPARTMENT [nvarchar](15),\n\tUSER7_WORKSTART [nvarchar](8),\n\tUSER8_ENDOFWORK [nvarchar](8),\n\tUSER9_WORKPERMIT [nvarchar](1),\n\tOBJNR_OBJECTNUMBER [nvarchar](22),\n\tPRCTR_PROFITCENTER [nvarchar](10),\n\tPSPEL_WBSELEMENT [nvarchar](8),\n\tAWSLS_VARIANCEKEY [nvarchar](6),\n\tABGSL_RAKEY [nvarchar](6),\n\tTXJCD_TAXJUR [nvarchar](15),\n\tFUNC_AREA_FUNCTIONALAREA [nvarchar](16),\n\tSCOPE_OBJECTCLASS [nvarchar](2),\n\tPLINT_INTEGPLANNING [nvarchar](1),\n\tKDAUF_SALESORDER [nvarchar](10),\n\tKDPOS_SALESORDITEM [nvarchar](6),\n\tAUFEX_EXTORDERNO [nvarchar](20),\n\tIVPRO_INVESTPROFILE [nvarchar](6),\n\tLOGSYSTEM_LOGICALSYSTEM [nvarchar](10),\n\tFLG_MLTPS_MULTIPLEITMS [nvarchar](1),\n\tABUKR_REQCOCODE [nvarchar](4),\n\tAKSTL_REQCOSTCENTER [nvarchar](10),\n\tSIZECL_SCALE [nvarchar](2),\n\tIZWEK_INVESTREASON [nvarchar](2),\n\tUMWKZ_ENVIRINVEST [nvarchar](5),\n\tKSTEMPF_COSTCOLLECTOR [nvarchar](1),\n\tZSCHM_INTERESTPROF [nvarchar](7),\n\tPKOSA_COSTCOLLECTOR [nvarchar](12),\n\tANFAUFNR_REQORDER [nvarchar](12),\n\tPROCNR_PRODPROCNO [nvarchar](12),\n\tPROTY_PROCESSCAT [nvarchar](4),\n\tRSORD_REFURBISHMENT [nvarchar](1),\n\tBEMOT_ACCTGINDICATOR [nvarchar](2),\n\tADRNRA_ADDRESSNUMBER [nvarchar](10),\n\tERFZEIT_TIMECREATED [nvarchar](6),\n\tAEZEIT_CHANGEDAT [nvarchar](6),\n\tCSTG_VRNT_COSTINGVARIANT [nvarchar](4),\n\tCOSTESTNR_COSTESTIMATENO [nvarchar](12),\n\tVERAA_USER_USERRESPONSIBLE [nvarchar](12),\n\tVNAME_JOINTVENTURE [nvarchar](6),\n\tRECID_RECOVERYINDIC [nvarchar](2),\n\tETYPE_EQUITYTYPE [nvarchar](3),\n\tOTYPE_JVOBJECTTYPE [nvarchar](4),\n\tJV_JIBCL_JIBJIBECLASS [nvarchar](3),\n\tJV_JIBSA_JIBJIBESBCLSA [nvarchar](5),\n\tJV_OCO_ORCOSTOBJ [nvarchar](1),\n\t_CUM_INDCU_CUORDER [nvarchar](1),\n\t_CUM_CMNUM_CMNUMBER [nvarchar](12),\n\t_CUM_AUEST_AUTOESTCOSTS [nvarchar](1),\n\t_CUM_DESNUM_CUDESIGNNO [nvarchar](12),\n\tVAPLZ_MAINWORKCTR [nvarchar](8),\n\tWAWRK_PLNTWORKCENTER [nvarchar](4),\n\tFERC_IND_REGINDICATOR [nvarchar](4)\n)\nWITH (\n    LOCATION = 'PTRO_STAGING/ADF/SAP/stg_SAPAUFKPER',\n    DATA_SOURCE = ExternalDataSourceDataLake,  \n    FILE_FORMAT = parquet_format\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Insert into Synapse",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "External Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DELETE FROM [dbo].[SAPAUFK] WHERE AEDAT_CHANGEDON >= (SELECT MIN(AEDAT_CHANGEDON) FROM SAPAUFK_TMP);\n\nINSERT INTO [dbo].[SAPAUFK]\n\tSELECT \n\t*\n\t,left(replace(replace(replace(CONVERT([nvarchar],dbo.fnConvertUtcToLocalTime(getdate()),(21)),'-',''),':',''),space((1)),''),(8)) \nFROM [dbo].[SAPAUFK_TMP]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "getDateFrom",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "getDateFrom",
					"value": {
						"value": "@addDays(convertTimeZone(utcnow(),'UTC','SE Asia Standard Time'), -15, 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getDateTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getDateFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "getDateTo",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','SE Asia Standard Time'), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"getDateFrom": {
				"type": "String"
			},
			"getDateTo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PTRO_DW/STAGING/SAP"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-23T08:47:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}